*{
    margin: 0px;
    padding: 0px;
}

#header{
    width: 100%;
    height: 433px;
    z-index: 0;
    position: relative;
    opacity: 50%;
}


nav {
    background-color: #634a4485;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    z-index: 4;
    /* margin-top: -501px; */
  }
  nav>img {
    height: 90%;
    margin-left: 20px;
  }
  nav>ul {
    display: flex;
    justify-content: space-around;
  
  }
  
  nav>ul a {
    font-size: 14px;
    /* font-weight: bold; */
    text-decoration: none;
    list-style: none;
    width: 122px;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  nav>input {
    border-radius: 10px 10px 0px 10px;
    border: 0px;
    background-color: #60443d;
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
    width: 120px;
    height: 40px;
  }











@font-face {
    font-family: "inter" ;
    src: url(assets/Inter-VariableFont_slnt\,wght.ttf);
}

#Inter{
    width: 587px;
    height : 58ps;
    font-size: 48px;
    position: absolute;
    top: 159px;
    left: 577px;
    font-family: "inter" ;
}

#cnt{
    position: absolute;
width: 115px;
height: 28px;
left: 62px;
top: 585px;
font-family: "inter";
}


#gt{
    position: absolute;
    width: 301px;
    height: 59px;
    left: 62px;
    top: 630px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 59px;
    color: #000000;
}
 
#touch{
    color: #BE7464;
}

#stay{
    position: absolute;
    width: 426px;
    height: 25px;
    left: 62px;
    top: 706px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
}

#map{

    position: absolute;
    width: 33px;
    height: 33px;
    left: 86px;
    top: 793px;

}

#adress{
    position: absolute;
    width: 74px;
    height: 22px;
    left: 119px;
    top: 799px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

#phone{
    position: absolute;
    width: 27px;
    height: 27px;
    left: 350px;
    top: 796px;

}

#phonep{
    position: absolute;
    width: 56px;
    height: 22px;
    left: 380px;
    top: 799px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

#add{
    position: absolute;
    width: 149px;
    height: 17px;
    left: 92px;
    top: 843px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

}

#cmt{
    position: absolute;
    width: 27px;
    height: 27px;
    left: 89px;
    top: 900px;
}

#mail{
    position: absolute;
    width: 48px;
    height: 22px;
    left: 119px;
    top: 902px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

#email{
    position: absolute;
    width: 178px;
    height: 17px;
    left: 93px;
    top: 941px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

#line {
    position: absolute;
    width: 488px;
    height: 0px;
    left: 62px;
    top: 985px;
    border: 0.1px solid #000000;
}
#fb{
    position: absolute;
    width: 34px;
    height: 35px;
    left: 93px;
    top: 1004px;
}

#ytb{

    position: absolute;
    width: 35px;
    height: 35px;
    left: 127px;
    top: 1004px;
}

#twt{

    position: absolute;
    width: 34px;
    height: 35px;
    left: 162px;
    top: 1004px;

}

#ig{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 196px;
    top: 1004px;
}

#form{
    box-sizing: border-box;
    position: relative;
    width: 618px;
    height: 465px;
    left: 758px;
    top: 190px;
    background: white;
    border: 1px solid #000000;

}

#phonefrm{
    width: 54px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    left: 49px;
    top: 29px;
}


#first{

    width: 227px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    position: absolute;
    left: 49px;
    top: 61px;

}

#last{
    width: 227px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    position: absolute;
    left: 352px;
    top: 61px;
}

#emailfrm{
    box-sizing: border-box;
    position: absolute;
    width: 520px;
    height: 45px;
    top: 180px;
    left: 45px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    
    
}

#formem {
    position: absolute;
    width: 46px;
    height: 22px;
    left: 49px;
    top: 131px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

#message {
    position: absolute;
    width: 77px;
    height: 22px;
    left: 49px;
    top: 245px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

#formmsg{
    box-sizing: border-box;
    position: absolute;
    width: 520px;
    height: 115px;
    left: 49px;
    top: 280px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    
}



#btn{
    position: absolute;
    width: 157px;
    height: 45px;
    left: 230px;
    top: 410px;
    background: #BE7464;
    border-radius: 30px;
    border: none;
    color: white;
}

#mapsol{
  position: absolute;
  left: 52px;
  top: 1153px;
  border-radius: 30px;
}

#rkhama{
    position: relative;
    left: 4.1%;
    right: 4.17%;
    top: 800px;
    bottom: 14.63%;
    background: rgba(202, 156, 146, 0.62);
    border-radius: 0px 104px 104px 104px;
    z-index: 0;
}

#f1low{
    position: relative;
    left: 4.1%;
    right: 4.17%;
    top: 500px;
    bottom: 14.63%;
    background: rgba(202, 156, 146, 0.62);
    border-radius: 0px 104px 104px 104px;
    z-index: 1;
    opacity: 62%;
}  

#f1{
    width: 100%;
    height:453.72px;
    background: #F2D9D3;
    border-radius: 0px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 1850px;
    bottom: 1.61%;
    z-index: 0;
}

#f2{
    width:100%;
    height:38px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 2290px;
    bottom: 0.01%;
    background: #CA9C92;
    border-radius: 0px;
}

#joinO{

    position: absolute;
    left: 9.17%;
    right: 68.47%;
    top: 1800px;
    bottom: 20.83%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;  
    color: white;
    z-index: 2;


}

#tuned{

    position: absolute;
    width: 291px;
    height: 40px;
    left: 132px;
    top: 1864px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    z-index: 2;
    color: white


}

#biginp{
    
    width: 642px;
    height: 109px;
    position: absolute;
    left: 43.19%;
    right: 12.22%;
    top: 1794px;
    background: #FFFFFF; 
    border-radius: 20px;
    z-index: 2; 
}

#eym{

    width: 642px;
    height: 109px;
    border: 0px;
    /* border-radius: 20px; */
    outline-color: #755750;
    
    
}
#eym :focus{
        outline: 0px ;
    }

#btnbrown{
    width:198px;
    height:89.18px;
    position: absolute;
    left: 430px;
    right: 12.92%;
    top: 10px;
    bottom: 18.89%;
    background: #755750;
    border-radius: 0px;
    border: 0px;
     /* border-radius:20px; */
    }

#sub{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
   
}

#logoF{
    width: 165px;
    height: 220px;
    margin-top:170px;
    margin-left: 30px ;
}

#followus{

    width: 165px;
    height: 220px;
    width: 194px;
    height: 64px;
    position: absolute;
    top: 250px;
    left: 600px;

}

#support{
    position: absolute;
    width: 145px;
    height: 64px;
    left: 1181px;
    top: 180px;
    font-family: 'Billion Miracles personal use';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    color: #000000;
}

#fbftr{
    position: absolute;
    width: 45.84px;
    height: 45.84px;
    left: 570px;
    top: 331px;
    
}

#ytbftr{

    position: absolute;
    width: 45.84px;
    height: 45.84px;
    left: 630px;
    top: 331px;
}
#twtftr{
    position: absolute;
    width: 45.84px;
    height: 45.84px;
    left: 690px;
    top: 331px;
}

#igftr{

    position: absolute;
    width: 45.84px;
    height: 45.84px;
    left: 750px;
    top: 331px;
}

#title1{
    position: absolute;
    display: block;
    left: 1195px;
    top: 280px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

}

#title2{
    position: absolute;
    display: block;
    left: 1195px;
    top: 320px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

}

#title3{
    position: absolute;
    display: block;
    left: 1195px;  
    top: 360px;  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

}

#copyr{

    position: absolute;
width: 335px;
height: 19px;
left: 552px;
top: 9px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}