*{
    padding: 0px;
    margin: 0px; 
}

body{
    background-color: #eee7e6;
}

#nav{
    width: 100%;
    height: 40px;
    background-color: black;
}

#formul{
    background-image: url(assets/Login.png) ;
    width: 700px;
    height: 636px;
    margin-left: 350px;
    margin-top: 100px;
}

#logo{
    position: absolute;
    width: 180px;
    height: 50px;
    left: 620px;
    top: 248px;
    font-family: 'Billion Miracles personal use';
    font-style: normal;
    font-weight: 400;
  
    line-height: 117px;
    color: #000000;
    z-index: 1;
}

#inp1{
    box-sizing: border-box;
    width: 300PX;
    height:44px;
    position: absolute;
    background: #FFFCF3;
    border: 1px solid #AF5241;
    border-radius: 12px;
    margin-top: 100px;
    margin-left: 110px;
}

#inp2{
    box-sizing: border-box;
    width: 300PX;
    height:44px;
    position: absolute;
    background: #FFFCF3;
    border: 1px solid #AF5241;
    border-radius: 12px;
    margin-top: 170px;
    margin-left: 110px;
}


#btn{
    position: absolute;
width: 200px;
height: 50px;
left: 610px;
top: 500px;

background: #BE7464;
border-radius: 12px;
}

#ca{
     width: 124px;
    height: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;

}