/* // .navbar{
//   position: fixed;
//   width:100%;
//   transition: background-color 1s;

// }

// .rect{
//   width:100%;
//   height:100vh;
// }
// #green{
//   background-color:#559065;
// }
// #blue{
//   background-color:#7eb3a7;
// }

// gg hh */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
::-webkit-scrollbar {
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: #CA9C92;
}
::-webkit-scrollbar-thumb {
  background-color: #F2D9D3;
  border-radius: 0px 50px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #d4b9b2;
  border-radius: 50px 0px;
}
* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* gg */



/* gg */
nav {
  background-color: #634a4485;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  z-index: 5;
}
nav>img {
  height: 90%;
  margin-left: 20px;
}
nav>ul {
  display: flex;
  justify-content: space-around;

}

nav>ul a {
  text-decoration: none;
  list-style: none;
  width: 122px;
  color: rgb(255, 255, 255);
}
nav>input {
  border-radius: 10px 10px 0px 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 0px;
  background-color: #60443d;
  color: #fff;
  font-size: 18px;
  margin-right: 20px;
  width: 120px;
  height: 40px;
}
header {
  width: 100%;
}
header>img {
  width: 100%;
}
main {
  width: 95%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
#intro-right {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#intro-right>img {
  height: 80vh;
  border-radius: 0px 60px 60px 60px ;
}
#intro-right>div {
  position: absolute;
  right: 121px;
  bottom: -98%;
  width: 200px;
  height: 250px;
  background-color: #F2D9D3;
  border-radius: 0px 54px 54px 54px;
}
#intro-left {
  display: flex;
  flex-direction: column;
}
#intro-left>h5 {
  margin-top: 76px;
}
#intro-left>h2 {
  width: 70%;
  margin-bottom: 10px;
}
#intro-left>p {
  font-size: 17px;
  width: 70%;
  margin-bottom: 50px;
}
.expertise-part {
  margin-bottom: 30px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #000;
  border-radius: 0px 100px 100px 0px;
  font-size: 16px;
  
  
  /* transition: color .3s ease-in-out, box-shadow .3s ease-in-out;  */
}
.expertise-part:hover {
  margin-bottom: 30px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #634a44 ;
  color: #fff;
  box-shadow: inset 500px 0 0 0 #F2D9D3 ;;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out; 
  
  border-radius: 0px 100px 100px 0px;
  
}
.expertise-part img {
  width: 40px;
}
#intro-left>button {
  margin-top: 20px;
  height: 70px;
  width: 300px;
  background-color: #755750;
  border: 1px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
#intro-left>button:hover {
  transition: .33s;
  background-color: #634a44;
}
#main-2 {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#main-2>div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #FFF6F4;
  width: 308px;
  height: 322px;
  margin: 3px;
}
#main-2>div>img {
  margin: 20px;
  width: 50px;
  height: 50px;
}
#main-2 h3 {
  font-size: 16px;
  margin: 0px;
  padding: 0;
}
#meet-our-team {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#team {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#meet-our-team>a>input {
  background-color: #755750;
  height: 100px;
  width: 300px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
#meet-our-team>input:hover {
  background-color: #634a44;
  border: none;

}
a{
  color: #fff;
  text-decoration: none; 
}
a:hover{
  color: #60443d;
  text-decoration: none; 
  text-decoration-line: underline;
}
#contacto{
  color: #000;
}

article{
  background: linear-gradient(to right, #FFC2C2, #FFD7A8 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

    /* background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
    
}



#meet-our-team>h1 {
  font-weight: bold;

}
#meet-our-team>p {
  width: 50%;
  text-align: center;
  margin-bottom: 70px;
}
#warrenty {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#warrenty p {
  font-size: 18px;
  font-weight: bold;
  width: 250px;
}
#last-part {
  text-align: center;
  width: 100%;
}
#last-part>h3 {
  margin: 0;
}
#last-part>p {
  margin: 10px 0px 0px 5px;
}
#services img {
  margin: 40px 10px;
}
#services p {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
#Subscribe {
  background-color: rgb(222 194 187);
  width: 1321px;
  height: 291.05px;
  border-radius: 0px 105px 105px 105px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#h3-1 {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0px;
}
#h3-2 {
  margin: 10px 0px;
  font-size: 25px;
}
#sub-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 642px;
  height: 110px;
  background-color: #fff;
}
#sub-input input[type=text] {
  height: 100%;
  width: 100%;
  outline: none;
  border: 0px;
  padding: 0px;
  margin-left: 20px;
}
#sub-input input[type=text]::placeholder{
  font-size: 18px;

}
#sub-input input[type=button] {
  width: 200px;
  height: 60px;
  margin-right: 20px;
  background-color: #755750;
  border: 0px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
#sub-input input[type=button]:hover {
  background-color: #634a44;
}


/* footer */
footer {
  text-align: center;
  width: 100%;
  background-color: #F2D9D3;
}
#footer-content {
  display: flex;
  margin: 50px 0px;
  justify-content: space-evenly;
  align-items: center;
}
#footer-content p {
  font-family: 'MyFont';
  font-size: 64px;
  margin: 0;
}
#social-media img {
  width: 55px;
}
#support ul li {
  list-style: none;
  text-align: left;
}
#copyright {
  background-color: #CA9C92;
  padding: 10px 0px;
  color: #fff;
}
#copyright p {
  margin: 0;
}
input[type=button]:hover {
  transition: .33s;
}















.popup-container {
  display: inline-block;
}
.popup-container .popup-button {
  background: #333;
  line-height: 34px;
  color: #fff;
  padding: 0 20px;
  border-radius: 3px;
  display: block;
  cursor: pointer;
}
.popup-container .popup-button:hover {
  background: #444;
}
.popup-container .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 250ms all;
}
.popup-container .popup .popup-inner {
  
  width: 473px;
  height: 544px;
  box-sizing: border-box;
  padding: 20px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 150%;
  transition: 250ms all;
}
.popup-container .popup .popup-inner .popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.popup-container .popup .popup-inner .popup-title h6 {
  font-size: 117px;
  font-family: Billion Miracles personal use;
  font-weight: 500;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
}
.popup-container .popup .popup-inner .popup-title .popup-close-btn {
  cursor: pointer;
  background: #eee;
  display: block;
  line-height: 30px;
  padding: 0 15px;
  font-size: 14px;
  color: #222;
  border-radius: 3px;
}
.popup-container .popup .popup-inner .popup-content ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.popup-container .popup .popup-inner .popup-content ul li {
  margin-bottom: 10px;
}
.popup-container .popup .popup-inner .popup-content ul li:last-child {
  margin-bottom: 0;
}
.popup-container .popup .popup-inner .popup-content ul li input {
  width: 100%;
  background: #FFFCF3;
  border: 1px solid #BE7464;
  border-radius: 9px;
  line-height: 34px;
  padding: 0 15px;
  font-size: 14px;
  box-sizing: border-box;
}
.popup-container .popup .popup-inner .popup-content ul li button {
  width: 121px;
  line-height: 34px;
  background: #BE7464;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}
.popup-container .popup .popup-inner .popup-content ul li button:hover {
  background: #ffcabe;
}
.popup-container .popup .popup-inner .popup-content ul li p{
font-size: 9px;
}
.popup-container .popup .popup-inner .popup-content ul li p span{
  color: #BE7464;
}
.popup-container .popup .transparent-label {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: pointer;
}
.popup-container > input {
  display: none;
}
.popup-container > input:checked + .popup {
  opacity: 1;
  visibility: visible;
  background-color: #d2b4aa4d;
  visibility: unset;
}
.popup-container > input:checked + .popup .popup-inner {
  top: 50%;
  background-image: url(images/bqcklogin.jpeg);
  background-size: cover;
 
}
.popup-close-btn{
  justify-content: end;
  display: flex;
}
.poup{
  background-color: #d2b4aabe;
  height: 377px;
  margin-top: 7px;
  width: 329px;
  margin-left: auto;
  margin-right: auto;
}


